*.pth
*.pt
*.xlsx
*.pkl
shape_predictor_68_face_landmarks.dat
my_thesis/forensics/dl_technique/bash
my_thesis/forensics/dl_technique/checkpoint
my_thesis/forensics/dl_technique/checkpoint_tmp
my_thesis/forensics/dl_technique/pretrained
my_thesis/forensics/dl_technique/test
my_thesis/dfdc.tar.gz
my_thesis/wild.tar.gz
my_thesis/forensics/preprocess_data/prepare_dataset.py
my_thesis/dataset.xlsx
my_thesis/finetune.xlsx
my_thesis/forensics/preprocess_data/data.zip
my_thesis/forensics/preprocess_data/data_v2.zip
my_thesis/forensics/ml_technique/checkpoint
my_thesis/forensics/ml_technique/headpose_forensic/output_features
my_thesis/forensics/ml_technique/spectrum/output_features
my_thesis/forensics/ml_technique/visual_artifact/output_features